[submodule "pack/gruvbox/start/gruvbox"]
	path = pack/gruvbox/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox
[submodule "pack/neovimhaskell/start/haskell-vim"]
	path = pack/neovimhaskell/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "pack/sbdchd/start/neoformat"]
	path = pack/sbdchd/start/neoformat
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "pack/vim-airline/start/vim-airline"]
	path = pack/vim-airline/start/vim-airline
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "pack/vim-airline/start/vim-airline-themes"]
	path = pack/vim-airline/start/vim-airline-themes
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "pack/plasticboy/start/vim-markdown"]
	path = pack/plasticboy/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/tomasiser/start/vim-code-dark"]
	path = pack/tomasiser/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "pack/jiangmiao/start/auto-pairs"]
	path = pack/jiangmiao/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/tpope/start/vim-surround"]
	path = pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/wakatime/start/vim-wakatime"]
	path = pack/wakatime/start/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule "pack/christoomey/start/vim-tmux-navigator"]
	path = pack/christoomey/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
